# Environment
ASPNETCORE_ENVIRONMENT=Development

# Database connection
DB_HOST=changeme
DB_PORT=3306
DB_NAME=changeme

# Application database user
DB_USER=changeme
DB_PASSWORD=changeme

# Root credentials (for local tooling like phpMyAdmin)
DB_ROOT_USER=changeme
DB_ROOT_PASSWORD=changeme

# phpMyAdmin
PHP_MYADMIN_HOST=changeme

# TMDB API
TMDB_API_KEY_READ_ONLY=

# Mail server configuration
MAIL_SERVER_URL=
MAIL_SERVER_PORT=
MAIL_SENDER_EMAIL=
MAIL_SENDER_USERNAME=
MAIL_SENDER_PASSWORD=